html {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  max-width: 90vw;
  max-height: 90vh;
  background-color: rgb(100, 110, 255);
  display: none;
  /* The canvas is hidden by default but it will be displayed when the user click on play */
}



.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 8vh;
}


.menu button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
}

.menu .best-score {
  margin: 20px;
}

.menu h1 {
  font-size: 60px;
  margin-bottom: 100px;
}



/* Media Queries are rules that are applied in specific conditions */
/* Rules when the screen has specific ratio (adapted for mobile phone) */
@media (min-aspect-ratio: 1000/1850) and (max-aspect-ratio: 1000/1550) {
  canvas {
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100vh;
  }
}
